# Introduction to Jupyter notebooks

We will demonstrate in this notebook the main functionalities that we can use in Jupyter.

In [1]:
# This is a computation cell. It can accept any Python code, as it would be typed on IPython or in a script.

x = 2
print(x*2)

# To execute the instructions in this cell, press CTRL+Enter. You should see the output below the cell.

4

This is a text cell. It accepts Markdown, Latex and HTML.

## Title in Markdown
[with a link for the documentation](https://daringfireball.net/projects/markdown/syntax)

## Images from the web
We can also include images from the web:
![Let's find that data!](https://upload.wikimedia.org/wikipedia/commons/b/b7/Langhaardackel_merlin_2005.jpg)

## Latex equations
And also Latex equations:

$$
f(x) = \int_{-\infty}^{\infty} e^{-2ikx}f(k)
$$

      a
0  10.0

## Numpy example

In [0]:
import numpy as np

In [0]:
a = np.zeros(10)

In [3]:
a

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [4]:
b = np.ones([10,5])
b

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

## Pandas example

In [0]:
# we can import libraries, as in a script:
import pandas as pd

df = pd.DataFrame()

In [0]:
# and use variables created on other cells on different cells:
df = df.append({'a':10}, ignore_index=True)

In [7]:
df

      a
0  10.0