In [0]:
import numpy as np
vec = np.random.randint(0, 100, size=5)
print(vec)

C:\Users\steffim\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel\parentpoller.py:116: UserWarning: Parent poll failed.  If the frontend dies,
                the kernel may be left running.  Please let us know
                about your system (bitness, Python, etc.) at
                ipython-dev@scipy.org
  ipython-dev@scipy.org""")

[82 64 87 96 53]

In [0]:
for j in np.arange(1, vec.size):
    v = vec[j]
    i = j
    while i > 0 and vec[i-1] > v:
        vec[i] = vec[i-1]
        i = i - 1
    vec[i] = v

Exercise 2

In [0]:
x = 2
print(x*2)

4

In [0]:
def mean(a,b):
       return (a+b)/2

In [0]:
mean(10,20)

15.0

In [0]:
import pandas as pd
df = pd.read_csv("imports-85.csv")
df.head()

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

Exercise 5

In [0]:
import numpy as np
import pandas as pd

In [0]:
url = "https://raw.githubusercontent.com/TrainingByPackt/Big-Data-Analysis-with-Python/master/Lesson01/RadNet_Laboratory_Analysis.csv"
df = pd.read_csv(url)

In [0]:
df['State'].head()

0    ID
1    ID
2    AK
3    AK
4    AK
Name: State, dtype: object

In [0]:
df[df.State == "MN"]

,State,Location,Date Posted,Date Collected,Sample Type,Unit,Ba-140,Co-60,Cs-134,Cs-136,Cs-137,I-131,I-132,I-133,Te-129,Te-129m,Te-132
367,MN,St. Paul,04/08/2011,03/28/2011,Drinking Water,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
368,MN,St. Paul,04/22/2011,04/13/2011,Drinking Water,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,0.16,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
380,MN,Welch,04/08/2011,03/29/2011,Drinking Water,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
381,MN,Welch,06/01/2011,04/14/2011,Drinking Water,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
555,MN,St. Paul,04/04/2011,03/22/2011,Precipitation,pCi/l,Non-detect,Non-detect,Non-detect,NaN,Non-detect,32.3,Non-detect,Non-detect,NaN,NaN,Non-detect
556,MN,St. Paul,04/10/2011,03/29/2011,Precipitation,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,16,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
557,MN,Welch,04/04/2011,03/17/2011,Precipitation,pCi/l,Non-detect,Non-detect,Non-detect,NaN,Non-detect,Non-detect,Non-detect,Non-detect,NaN,NaN,Non-detect
558,MN,Welch/510,04/13/2011,04/04/2011,Precipitation,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,9.1,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect

In [0]:
df[(df.State == 'CA') & (df['Sample Type'] == 'Drinking Water')]

,State,Location,Date Posted,Date Collected,Sample Type,Unit,Ba-140,Co-60,Cs-134,Cs-136,Cs-137,I-131,I-132,I-133,Te-129,Te-129m,Te-132
305,CA,Los Angeles,04/10/2011,04/04/2011,Drinking Water,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,0.39,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
306,CA,Los Angeles,06/01/2011,04/12/2011,Drinking Water,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,0.18,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
356,CA,Richmond,04/09/2011,03/29/2011,Drinking Water,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
357,CA,Richmond,06/01/2011,04/13/2011,Drinking Water,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect

In [0]:
df[(df.State == "MN") ]["I-131"]

367    Non-detect
368          0.16
380    Non-detect
381    Non-detect
555          32.3
556            16
557    Non-detect
558           9.1
Name: I-131, dtype: object

In [0]:
df.loc[df.State == "MN", "I-131"]
df[['I-132']].head()

        I-132
0  Non-detect
1  Non-detect
2  Non-detect
3  Non-detect
4  Non-detect

Exercise 6

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
url = "https://raw.githubusercontent.com/TrainingByPackt/Big-Data-Analysis-with-Python/master/Lesson01/RadNet_Laboratory_Analysis.csv"
df = pd.read_csv(url)

In [0]:
df.dtypes

State             object
Location          object
Date Posted       object
Date Collected    object
Sample Type       object
Unit              object
Ba-140            object
Co-60             object
Cs-134            object
Cs-136            object
Cs-137            object
I-131             object
I-132             object
I-133             object
Te-129            object
Te-129m           object
Te-132            object
dtype: object

In [0]:
df['Date Posted'] = pd.to_datetime(df['Date Posted'])
df['Date Collected'] = pd.to_datetime(df['Date Collected'])

In [0]:
columns = df.columns
id_cols = ['State', 'Location', "Date Posted", 'Date Collected', 'Sample Type', 'Unit']
columns = list(set(columns) - set(id_cols))
columns

['I-132',
 'Cs-136',
 'Cs-137',
 'Te-129',
 'Co-60',
 'Cs-134',
 'Ba-140',
 'Te-129m',
 'I-133',
 'I-131',
 'Te-132']

In [0]:
df['Cs-134'] = df['Cs-134'].apply(lambda x: np.nan if x == "Non-detect" else x)
df.loc[:, columns] = df.loc[:, columns].applymap(lambda x: np.nan if x == 'Non-detect' else x)
df.loc[:, columns] = df.loc[:, columns].applymap(lambda x: np.nan if x == 'ND' else x)

In [0]:
for col in columns:
    df[col] = pd.to_numeric(df[col])

In [0]:
df.dtypes

State                     object
Location                  object
Date Posted       datetime64[ns]
Date Collected    datetime64[ns]
Sample Type               object
Unit                      object
Ba-140                   float64
Co-60                    float64
Cs-134                   float64
Cs-136                   float64
Cs-137                   float64
I-131                    float64
I-132                    float64
I-133                    float64
Te-129                   float64
Te-129m                  float64
Te-132                   float64
dtype: object

In [0]:
df['State'] = df['State'].astype('category')
df['Location'] = df['Location'].astype('category')
df['Unit'] = df['Unit'].astype('category')
df['Sample Type'] = df['Sample Type'].astype('category')

In [0]:
df.dtypes

State                   category
Location                category
Date Posted       datetime64[ns]
Date Collected    datetime64[ns]
Sample Type             category
Unit                    category
Ba-140                   float64
Co-60                    float64
Cs-134                   float64
Cs-136                   float64
Cs-137                   float64
I-131                    float64
I-132                    float64
I-133                    float64
Te-129                   float64
Te-129m                  float64
Te-132                   float64
dtype: object

Exercise 7

In [0]:
import numpy as np
import pandas as pd

url = "https://raw.githubusercontent.com/TrainingByPackt/Big-Data-Analysis-with-Python/master/Lesson01/RadNet_Laboratory_Analysis.csv"
df = pd.read_csv(url)

In [0]:
columns = df.columns
id_cols = ['State', 'Location', "Date Posted", 'Date Collected', 'Sample Type', 'Unit']
columns = list(set(columns) - set(id_cols))
columns

['I-132',
 'Cs-136',
 'Cs-137',
 'Te-129',
 'Co-60',
 'Cs-134',
 'Ba-140',
 'Te-129m',
 'I-133',
 'I-131',
 'Te-132']

In [0]:
df['Cs-134'] = df['Cs-134'].apply(lambda x: np.nan if x == "Non-detect" else x)
df.loc[:, columns] = df.loc[:, columns].applymap(lambda x: np.nan if x == 'Non-detect' else x)
df.loc[:, columns] = df.loc[:, columns].applymap(lambda x: np.nan if x == 'ND' else x)

In [0]:
df.loc[:, ['State', 'Location', 'Sample Type', 'Unit']] = df.loc[:, ['State', 'Location', 'Sample Type', 'Unit']].applymap(lambda x: x.strip())

In [0]:
df['Date Posted'] = pd.to_datetime(df['Date Posted'])
df['Date Collected'] = pd.to_datetime(df['Date Collected'])

In [0]:
for col in columns:
    df[col] = pd.to_numeric(df[col])

In [0]:
df['State'] = df['State'].astype('category')
df['Location'] = df['Location'].astype('category')
df['Unit'] = df['Unit'].astype('category')
df['Sample Type'] = df['Sample Type'].astype('category')

In [0]:
df.to_csv('radiation_clean.csv', index=False, sep=';', encoding='utf-8')

In [0]:
df.to_parquet('radiation_clean.prq', index=False)